# Analyse der Commit Codes Daten

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("commit_data/commit_code.csv")
data = data.iloc[:,1:]

In [4]:
data.head()

,commit,path,repo,add,remove,changes
0,0001517e0b6e517b4637eb14fd807190b7113e68,ProcessLocalImage.ipynb,radosuav/pyTSEB,114.0,18.0,"@@ -8,13 +8,24 @@\r\n ""In this notebook we..."
1,0001517e0b6e517b4637eb14fd807190b7113e68,ProcessPointTimeSeries.ipynb,radosuav/pyTSEB,66.0,17.0,"@@ -7,7 +7,7 @@\r\n ""# Summary\n"",\r\n ..."
2,00019cf89e1e7bf553e60b651237c05ce7552d6d,deep learning/Autoencoders.ipynb,5agado/data-science-learning,3716.0,0.0,NaN
3,0001db9abd3f9d460ea23d1192b2554a2aa3b296,Data_Pipeline.ipynb,CLandauGWU/group_e,105.0,96.0,"@@ -2,10 +2,8 @@\r\n ""cells"": [\r\n {\r\n ..."
4,0001f1b46379d76414b87bec31ced6804055d098,notebooks/2017-02-10-running_compliance_checke...,ocefpaf/notebooks_demos,579.0,0.0,"@@ -0,0 +1,579 @@\r\n+{\r\n+ ""cells"": [\r\n+ ..."

In [5]:
len(data)

317055

In [6]:
data.isna().sum()

commit         0
path           0
repo           0
add        13126
remove     13126
changes    98823
dtype: int64

In [6]:
desc = data.describe()
desc[:] = desc[:].astype(int)
desc

           add   remove
count   303929   303929
mean       626      267
std       8601     6280
min          0        0
25%          4        0
50%         53        2
75%        252       30
max    1552834  1552826

In [15]:
data.describe(include=['object'])

,commit,path,repo,changes
count,317055,317055,317055,218232
unique,122024,28471,6651,101688
top,deb9f882f194da8b0fdc4c4d342666da2f5083db,language-translation/dlnd_language_translation...,13522364778/liupengyuan.github.io,404
freq,373,3193,33119,2481

In [10]:
data.sort_values(by = "changes").head()

,commit,path,repo,add,remove,changes
83058,44bab7be32579c65de276c20190d5926ff109bdf,main.ipynb,NatiAris/reed-vk,NaN,NaN,404
250188,cc2cac59b43f94e4a7662e51eb31444d8b6f6574,Notebooks/PathFind/qc-pipeline-results.ipynb,ssjunnebo/pathogen-informatics-training,NaN,NaN,404
37448,1ebc6c8129b1f5c9118607b3b4953247b5dd10fd,docs/source/auto_examples/plot_OT_1D.ipynb,aje/POT,NaN,NaN,404
250185,cc2c353abbd7f8904ac49774d7900d775ad9130d,python/Testing.ipynb,roboloni/active-tree-search,NaN,NaN,404
62955,348282f378c3d0c5eba85e31ee23d3c7dbb359f5,Local Complexity Tests.ipynb,Saxafras/Spacetime,NaN,NaN,404

In [9]:
data['commit'].value_counts().head()

deb9f882f194da8b0fdc4c4d342666da2f5083db    373
6b8c757dfac4bcfcd2b2affd3cf9115ffa1fb9ba    366
0c7c89cec39edc932645593532b3a632fa0c301b    341
fe17b667f8948d18ad513d3284bbbbeacaf8cd4d    333
97b2a469f5aabea166f329ba4dd79e283e081bef    317
Name: commit, dtype: int64

# Commit Messages

In [8]:
messages = pd.read_csv("commit_data/commits_message.csv")
messages = messages.iloc[:,1:]
messages = messages.drop_duplicates()

In [9]:
len(messages)

122026

In [23]:
messages.head()

                                     commit        message
0  2dac0a30f3e78342445edb2a1ce916001f0814ec       work\r\n
1  1709689bb99d0f09f3d71ee3f1ab43b3ebf74b1e  Sesión 6.\r\n
2  bebf00a49e6230fa0eefce1275e9b72d4c02ff9b          x\r\n
3  9400fab253e99ccf8c0a1d5bcbd639e80ddb6875     fixes.\r\n
4  63a8ebd66e0c9d3695dca46dcbd7a0770a75e548        fix\r\n

In [24]:
messages.isna().sum()

commit      0
message    13
dtype: int64

In [10]:
result = pd.merge(data, messages, how='inner', on= 'commit')
del data
result.head()

,commit,path,repo,add,remove,changes,message
0,0001517e0b6e517b4637eb14fd807190b7113e68,ProcessLocalImage.ipynb,radosuav/pyTSEB,114.0,18.0,"@@ -8,13 +8,24 @@\r\n ""In this notebook we...",Added visualization of results in the notebook...
1,0001517e0b6e517b4637eb14fd807190b7113e68,ProcessPointTimeSeries.ipynb,radosuav/pyTSEB,66.0,17.0,"@@ -7,7 +7,7 @@\r\n ""# Summary\n"",\r\n ...",Added visualization of results in the notebook...
2,00019cf89e1e7bf553e60b651237c05ce7552d6d,deep learning/Autoencoders.ipynb,5agado/data-science-learning,3716.0,0.0,NaN,Autoencoders notebook\r\n
3,0001db9abd3f9d460ea23d1192b2554a2aa3b296,Data_Pipeline.ipynb,CLandauGWU/group_e,105.0,96.0,"@@ -2,10 +2,8 @@\r\n ""cells"": [\r\n {\r\n ...",Merge pull request #16 from CLandauGWU/cdl\r\n...
4,0001f1b46379d76414b87bec31ced6804055d098,notebooks/2017-02-10-running_compliance_checke...,ocefpaf/notebooks_demos,579.0,0.0,"@@ -0,0 +1,579 @@\r\n+{\r\n+ ""cells"": [\r\n+ ...",Merge pull request #184 from ocefpaf/complianc...

In [11]:
len(result)

317055

In [12]:
result['message'] = result.message.fillna('')

In [13]:
len(result[result['message'].str.contains('Merge branch')])

41459

# Clean up empty values

In [14]:
clean = result.drop(result[result['message'].str.contains('Merge branch')].index)

In [15]:
clean = clean.drop(clean[clean['changes'] == '404'].index)

In [16]:
len(clean)

273294

In [17]:
clean.isna().sum()

commit         0
path           0
repo           0
add         7851
remove      7851
changes    83780
message        0
dtype: int64

In [18]:
boolean = clean.changes.isnull()
empty_commit = clean[boolean]

In [19]:
len(empty_commit)

83780

In [55]:
empty_commit.head()

,commit,path,repo,add,remove,changes,message
2,00019cf89e1e7bf553e60b651237c05ce7552d6d,deep learning/Autoencoders.ipynb,5agado/data-science-learning,3716.0,0.0,NaN,Autoencoders notebook\r\n
9,000258d8466e534edf51ac43f5d0112ac0ed3dbd,Numerical Integration Tutorial.ipynb,diogro/ode_examples,22.0,22.0,NaN,changes in bynary notebook\r\n
12,0005741e76fb03da417c848917e5a434109f8285,ildm/ildm_plots.ipynb,uqyge/combustionML,460955.0,0.0,NaN,Merge pull request #5 from uqyge/master\r\n\r\...
14,0006f9f495ccf1811f47355a4f2c87e5355fbfd7,ipynb/releases/ReleaseNotes_v16.10.ipynb,joelagnel/lisa,2866.0,0.0,NaN,ipynb/releases: APIs changes for v16.10\r\n\r\...
16,000777c4d8b6f57093e72363de45d97dba0c310e,docs/examples/ex_TEBD_evo.ipynb,jcmgray/quijy,23.0,31.0,NaN,add NNI class: nearest interaction neighbour H...

In [20]:
empty_commit.isna().sum()

commit         0
path           0
repo           0
add         7831
remove      7831
changes    83780
message        0
dtype: int64

In [21]:
empty_commit.describe().astype(int)

           add   remove
count    75949    75949
mean      1702      818
std      15427    10942
min          0        0
25%          6        0
50%        115       15
75%        690      120
max    1552834  1552826

In [22]:
empty_commit.describe(include=['object'])

,commit,path,repo,changes,message
count,83780,83780,83780,0.0,83780
unique,39795,16366,4832,0.0,35490
top,0c7c89cec39edc932645593532b3a632fa0c301b,Doc/Notebooks/NetworKit_UserGuide.ipynb,13522364778/liupengyuan.github.io,NaN,Merge pull request #1 from liupengyuan/master\...
freq,303,392,7113,NaN,832

In [27]:
clean = clean.drop(clean[clean.changes.isnull()].index)

In [28]:
len(clean)

189514

In [29]:
clean.isna().sum()

commit      0
path        0
repo        0
add        20
remove     20
changes     0
message     0
dtype: int64

In [33]:
boolean = clean.remove.isnull()
empty_add = clean[boolean]

In [34]:
empty_add.head()

,commit,path,repo,add,remove,changes,message
14292,0bbf5f13fb1781872ce6944ae3cd57583c9f2f47,Demo/xbrain-demo.ipynb,nerdslab/xbrain,NaN,NaN,422,Dependancies version\r\n
38653,1ff2def16519f8f7376b9831bc29d2b913965a30,Demo/xbrain-demo.ipynb,nerdslab/xbrain,NaN,NaN,422,Fixes scipy error\r\n
52215,2b56231848d07b87e74f01d91c4c732cca179776,Demo/xbrain-demo.ipynb,nerdslab/xbrain,NaN,NaN,422,Ilastik version fix\r\n
72089,3bd4e73c48511902778019ca273b8e15238452b4,.ipynb_checkpoints/BOW analysis of our BIG REV...,starbro/BeastMode,NaN,NaN,502,imdb reviews\r\n
93171,4d59864f9220983c31548cddba7dc4287bcc45e5,nb/visualize.ipynb,csdms/bmi-live,NaN,NaN,422,Added section to run model interactively.\r\n

In [35]:
clean = clean.drop(clean[clean.remove.isnull()].index)

In [36]:
clean.isna().sum()

commit     0
path       0
repo       0
add        0
remove     0
changes    0
message    0
dtype: int64

In [37]:
len(clean)

189494

In [51]:
commit = pd.read_csv("commit_data/commits_bigquery.csv")
commit = commit.iloc[:,1:3]
commit = commit.drop_duplicates()
commit.head()

,commit,author
0,88ede0cf971ecadea4931eeec134795a5bea43fd,2fabad26a4a679b398616082e65afdcbed12c3b2@tcd.ie
7,c1ba8da1ab6442e4dee7d72b97efe13766fd7203,59bd0a3ff43b32849b319e645d4798d8a5d1e889@fast.ai
8,9b6cf2a901322f2ae7a8ec6cf2c7a90ceb06f4db,59bd0a3ff43b32849b319e645d4798d8a5d1e889@fast.ai
9,c3c7129875ef60b02a735627e736412cd3fd6c2e,59bd0a3ff43b32849b319e645d4798d8a5d1e889@fast.ai
10,a3bc11d76b1948ef8dfcb461077323d5df2d38ec,5c2dd944dde9e08881bef0894fe7b22a5c9c4b06@fast.ai

In [55]:
full = pd.merge(clean, commit, how='inner', on= 'commit')

In [56]:
full.head()

,commit,path,repo,add,remove,changes,message,author
0,0001517e0b6e517b4637eb14fd807190b7113e68,ProcessLocalImage.ipynb,radosuav/pyTSEB,114.0,18.0,"@@ -8,13 +8,24 @@\r\n ""In this notebook we...",Added visualization of results in the notebook...,1f758d5fc2475d607604851f7bb69a21a2e5a171@gmail...
1,0001517e0b6e517b4637eb14fd807190b7113e68,ProcessPointTimeSeries.ipynb,radosuav/pyTSEB,66.0,17.0,"@@ -7,7 +7,7 @@\r\n ""# Summary\n"",\r\n ...",Added visualization of results in the notebook...,1f758d5fc2475d607604851f7bb69a21a2e5a171@gmail...
2,0001db9abd3f9d460ea23d1192b2554a2aa3b296,Data_Pipeline.ipynb,CLandauGWU/group_e,105.0,96.0,"@@ -2,10 +2,8 @@\r\n ""cells"": [\r\n {\r\n ...",Merge pull request #16 from CLandauGWU/cdl\r\n...,a8fa8c02a6e674fcb990bac3af0f355c66c85f1e@users...
3,0001f1b46379d76414b87bec31ced6804055d098,notebooks/2017-02-10-running_compliance_checke...,ocefpaf/notebooks_demos,579.0,0.0,"@@ -0,0 +1,579 @@\r\n+{\r\n+ ""cells"": [\r\n+ ...",Merge pull request #184 from ocefpaf/complianc...,16ad98c943a204b0dc2f93d65ef80db35ef06c80@users...
4,0001ff8aff741c78f760542977491904182cd8cb,fairfieldlogin.ipynb,wcmckee/wcmckee,42.0,0.0,"@@ -0,0 +1,42 @@\r\n+{\r\n+ ""metadata"": {\r\n+...",if dir else create\r\n,37d41699bdee4fcb969ca499eb0f8b82c60d59cc@artco...

In [57]:
desc = full.describe()
desc[:] = desc[:].astype(int)
desc

          add  remove
count  189494  189494
mean      145      34
std       265     122
min         0       0
25%         4       0
50%        39       2
75%       174      15
max      4324    2590

In [58]:
full.describe(include=['object'])

,commit,path,repo,changes,message,author
count,189494,189494,189494,189494,189494,189414
unique,78191,22687,5974,98407,67697,12879
top,d1ac1d2183fff9b837eaf005332855e6f1821cc3,language-translation/dlnd_language_translation...,13522364778/liupengyuan.github.io,"@@ -31,6 +31,13 @@\r\n ""\n"",\r\n ""cifa...",Merge pull request #1 from liupengyuan/master\...,9c181bba4346e346250682c75d0b30c233d5e79c@gmail...
freq,233,2829,26006,251,2607,2516

In [61]:
auth = pd.DataFrame(full['author'].value_counts())
desc = auth.describe()
desc[:] = desc[:].astype(int)
desc

       author
count   12879
mean       14
std        60
min         1
25%         1
50%         3
75%         9
max      2516

In [79]:
c = full.iloc[:,[0,1,2,7]].groupby(['repo','path','author']).count()
c.head()

                                                                                                  commit
repo          path                            author
0u812/nteract example-notebooks/altair.ipynb  708ec4287d91edd455d45953dccf826089444818@users....       1
                                              8f4465e9c13a0a249a1929943e8a22f20baa98fb@gmail.com       1
              example-notebooks/geojson.ipynb 211cd6ebb5a58c9bc9904fc688979914ca90621b@safia....       2
                                              2bc753552cdfa3c1728f804cbeb8e88615400c01@gmail.com       2
                                              8f4465e9c13a0a249a1929943e8a22f20baa98fb@gmail.com       4

In [98]:
len(c)

94591

In [105]:
type(c)

pandas.core.frame.DataFrame

In [80]:
c.sort_values(by = "commit", ascending=False).head()

                                                                                                                         commit
repo                               path                              author
DudLab/nanshe_workflow             nanshe_ipython.ipynb              f62e5e898bee75be9eee0691c7e4e7a84b990c01@janeli...     360
                                                                     00b8e1f2832340b5fd94507dd2fa7880c7721435@gmail.com     198
gigjozsa/HI_analysis_course        chapter_13_pred/Predictions.ipynb e910e5d6cf4733fc75bf853649a5b0bc6e12966e@gmail.com     102
kspekkens/HI_analysis_course       chapter_13_pred/Predictions.ipynb e910e5d6cf4733fc75bf853649a5b0bc6e12966e@gmail.com     102
NabeelSarwar/Open-Dota-Exploration Analysis.ipynb                    2bd6c6ca13a07b14c8f9aace48c643c66c8a5222@gmail.com      92

In [145]:
cm = c.reset_index().groupby(['repo','path']).agg({'author': ['count']}).reset_index()#.filter('count' > 1)
cm.columns = ["".join(x) for x in cm.columns.ravel()]
cm = cm[cm.authorcount >1]
cm.head()

,repo,path,authorcount
0,0u812/nteract,example-notebooks/altair.ipynb,2
1,0u812/nteract,example-notebooks/geojson.ipynb,3
2,0x4a50/udacity-0x4a50-deep-learning-nanodegree,face_generation/dlnd_face_generation.ipynb,4
3,0x4a50/udacity-0x4a50-deep-learning-nanodegree,first-neural-network/Your_first_neural_network...,3
4,0x4a50/udacity-0x4a50-deep-learning-nanodegree,image-classification/dlnd_image_classification...,9

In [146]:
len(cm)

20324