In [1]:
import pandas as pd
df = pd.read_csv("../data/repo_function_matched.csv")

In [2]:
df.head()

,line,function,package,class,repo,path,author,commit,code
0,39,enable_eager_execution,tensorflow,NaN,tensorflow,tensorflow/contrib/eager/python/examples/noteb...,blamb@google.com,486b96a51d6b0b394edf77d182f7283a8ec03e0d,tf.enable_eager_execution()
1,54,square,tensorflow,NaN,tensorflow,tensorflow/contrib/eager/python/examples/noteb...,blamb@google.com,486b96a51d6b0b394edf77d182f7283a8ec03e0d,return tf.square(tf.sin(x))
2,54,sin,tensorflow,NaN,tensorflow,tensorflow/contrib/eager/python/examples/noteb...,blamb@google.com,486b96a51d6b0b394edf77d182f7283a8ec03e0d,return tf.square(tf.sin(x))
3,56,f,NaN,NaN,tensorflow,tensorflow/contrib/eager/python/examples/noteb...,blamb@google.com,486b96a51d6b0b394edf77d182f7283a8ec03e0d,assert f(pi/2).numpy() == 1.0
4,63,numpy,tensorflow,NaN,tensorflow,tensorflow/contrib/eager/python/examples/noteb...,blamb@google.com,486b96a51d6b0b394edf77d182f7283a8ec03e0d,assert tf.abs(grad_f(pi/2)[0]).numpy() < 1e-7

In [3]:
print(len(df))

1078373

In [4]:
df.isna().sum()

line             0
function         2
package     624510
class       974982
repo             0
path             0
author         461
commit           0
code            37
dtype: int64

In [5]:
df[df['code'].isna()].head()

,line,function,package,class,repo,path,author,commit,code
9608,138,dict,NaN,NaN,docs,site/ko/tutorials/keras/basic_text_classificat...,haesunrpark@gmail.com,b1bf1d6a1632e5f2dd552636e673cfa8cb4c2d5c,NaN
9609,138,items,NaN,NaN,docs,site/ko/tutorials/keras/basic_text_classificat...,haesunrpark@gmail.com,b1bf1d6a1632e5f2dd552636e673cfa8cb4c2d5c,NaN
9612,149,decode_review,NaN,NaN,docs,site/ko/tutorials/keras/basic_text_classificat...,haesunrpark@gmail.com,b1bf1d6a1632e5f2dd552636e673cfa8cb4c2d5c,NaN
9613,182,len,NaN,NaN,docs,site/ko/tutorials/keras/basic_text_classificat...,haesunrpark@gmail.com,b1bf1d6a1632e5f2dd552636e673cfa8cb4c2d5c,NaN
9614,190,print,NaN,NaN,docs,site/ko/tutorials/keras/basic_text_classificat...,haesunrpark@gmail.com,b1bf1d6a1632e5f2dd552636e673cfa8cb4c2d5c,NaN

In [6]:
df.describe(include=['object'])

,function,package,class,repo,path,author,commit,code
count,1078371,453863,103391,1078373,1078373,1077912,1078373,1078336
unique,42240,3876,5867,3738,16532,7583,35254,481255
top,print,matplotlib.pyplot,Sequential,deep-learning,note/s16a_synpipe_galaxy_1.ipynb,dr.guangtou@gmail.com,a58e916834e3f0adb2b91b8d12f5dc2f6711a008,"get_ipython().run_line_magic('matplotlib', 'in..."
freq,95522,108873,7188,20913,8589,16332,10897,7589

In [7]:
desc = df.describe()
desc[:] = desc[:].astype(int)
desc

          line
count  1078373
mean       283
std        727
min          1
25%         60
50%        126
75%        248
max      10781

In [8]:
file_author = df[['repo','path','author']].groupby(['repo','path'])['author'].nunique().reset_index()

In [9]:
print(len(file_author))

17387

In [10]:
colab_files = file_author[file_author['author']>1]

In [11]:
colab_files.describe(include=['object'])

             repo                                               path
count        5266                                               5266
unique       1918                                               4964
top     holoviews  tv-script-generation/dlnd_tv_script_generation...
freq          124                                                 28

In [12]:
print(len(colab_files))

5266

In [13]:
file_changes = df[['repo','path','function']].groupby(['repo','path']).count()

In [14]:
file_changes.function.describe()

count    17387.000000
mean        62.021683
std        147.026721
min          1.000000
25%         12.000000
50%         31.000000
75%         72.000000
max       8589.000000
Name: function, dtype: float64

In [15]:
file_changes.sort_values(by='function', ascending=False).head()

                                                                  function
repo          path
hsc_synpipe   note/s16a_synpipe_galaxy_1.ipynb                        8589
hsc_redBCG    note/dr1/dr1_new_mass_compare_fsps1.ipynb               7413
              note/dr1/dr1_published_figures.ipynb                    5665
hsc_synpipe   note/s16a_synpipe_star_1.ipynb                          5352
deep-learning image-classification/dlnd_image_classification....      2885

In [16]:
author_mod = df[['repo','path','author','class']].groupby(['repo','path','author'])['class'].apply(list).reset_index()

In [17]:
colab_changes = pd.merge(colab_files, author_mod, how = 'inner', on = ['repo','path'])

In [18]:
colab_changes.head()

,repo,path,author_x,author_y,class
0,-VAST-Challenge-2015-Mini-Challenge-1,First look at the Data.ipynb,2,da.angulo39@uniandes.edu.co,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."
1,-VAST-Challenge-2015-Mini-Challenge-1,First look at the Data.ipynb,2,gus0020@gmail.com,"[nan, nan, nan, nan, nan]"
2,1,analysis.ipynb,2,aristide@mac-mini-de-aristide-4.home,"[nan, nan, nan, DataFrame, nan, DataFrame, nan..."
3,1,analysis.ipynb,2,laowantong@users.noreply.github.com,"[nan, nan, nan, nan, DataFrame, nan, nan, nan,..."
4,15712-TensorFlow,tensorflow/examples/udacity/4_convolutions.ipynb,2,ipolosukhin@google.com,"[nan, nan]"